@import url('../node_modules/bulma/css/bulma.min.css');

.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.my-1 {
  margin: 1rem 0;
}

.my-2 {
  margin: 2rem 0;
}

.no-decoration {
  text-decoration: none;
}

.fullheight {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

/* .alert {
  width: 25%;
  margin: 0.4rem auto;
  background: hsl(348, 90%, 66%);
  border: 2px solid hsl(348, 100%, 55%);
  border-radius: 3px;
  color: #f4f4f4;
  padding: 0.6rem;
  font-size: 1.2rem;
} */

.navbar-item li a {
  color: #f4f4f4;
  padding: 0 1rem;
}

.mobile-grid {
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
}

.pagination-link.is-current {
  background-color: #333;
  border-color: #333;
}

.pagination-link:hover {
  cursor: pointer;
}

@media screen and (max-width: 768px){
  .mobile-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
