@import url('../node_modules/bulma/css/bulma.min.css');

.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.my-1 {
  margin: 1rem 0;
}

.my-2 {
  margin: 2rem 0;
}

.fullheight {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.alert {
  width: 25%;
  margin: 0.4rem auto;
  background: hsl(348, 90%, 66%);
  border: 2px solid hsl(348, 100%, 55%);
  border-radius: 3px;
  color: #f4f4f4;
  padding: 0.6rem;
  font-size: 1.2rem;
}

.navbar-item li a {
  color: #f4f4f4;
  padding: 0 1rem;
}
